<h1 class="jumbotron">Welcome to Tweeter!</h1>

<div class="container">

  <div class="card my-2 p-3">
    <%= render "new" %>
  </div>

  <div class="card my-2 p-3">
    <%= render partial: 'shared/tweet-table' %>
  </div>



</div>
